<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Reloaded-Middleware" value="https://pkgs.dev.azure.com/fivedegreesbv/_packaging/Reloaded-Middleware/nuget/v3/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
	<add key="enabled" value="True" />
	<add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
	<add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
	<add key="format" value="0" />
	<add key="disabled" value="False" />
  </packageManagement>
</configuration>
